@using ChatBeet.Models
@using ChatBeet.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ChatBeet.Models.TagStat>
@{
    var max = Model.Max(s => s.Total);
    var count = 0;
    var offset = 200;
}
<div class="list-group">
    @foreach (var stat in Model)
    {
        if (stat.Mode == TagStat.StatMode.Tag)
        {
            <a class="list-group-item list-group-item-action position-relative overflow-none" asp-page="Tag" asp-route-tagname="@stat.Tag">
                <span class="ml-2">
                    @stat.Tag.Replace("_", " ")
                    <span class="badge badge-pill badge-primary ml-1">@stat.Total</span>
                </span>
                <background-bar class="bg-primary" value="stat.Total" animation-delay="count * offset" collection-max="max"></background-bar>
            </a>
        }
        else
        {
            <a class="list-group-item list-group-item-action position-relative overflow-none" asp-page="User" asp-route-userid="@(stat.User?.Id ?? Guid.Empty)">
                <span class="ml-2">
                    @stat.User?.DisplayName()
                    <span class="badge badge-pill badge-primary ml-1">@stat.Total</span>
                </span>
                <background-bar class="bg-primary" value="stat.Total" animation-delay="count * offset" collection-max="max"></background-bar>
            </a>
        }
        count++;
    }
</div>