@page "/Tags"
@model ChatBeet.Pages.Tags.IndexModel
@using Humanizer
@if (Model.GeneralStats.Any())
{
    ViewBag.Title = "Tags";
    string getLink(string tag) => $"https://gelbooru.com/index.php?page=post&s=list&tags=rating:safe%20{tag}";

    <h1>Tags</h1>
    <p>Stats collected since @Model.Earliest.Humanize()</p>
    <h3>Most popular tags</h3>
    <partial name="_TagStats" model="Model.GeneralStats" />
    <hr />
    <h3>Users' fetishes</h3>
    <div>
        @foreach (var usr in Model.UserStats)
        {
            <div>
                <b class="text-success">@usr.Nick</b>
                searched for
                <b class="text-success">
                    <a href="@getLink(usr.Tag)" target="_blank">@usr.Tag.Replace("_", " ")</a>
                </b>
                @usr.Total @(usr.Total == 1 ? "time" : "times").
            </div>
        }
    </div>
    <hr />
    <h3>Random tags</h3>
    <partial name="_TagStats" model="Model.RandomStats" />
}
else
{
    <h1>Tags</h1>
    <p>No stats for tags yet 😢</p>
}