@page
@model ChatBeet.Pages.Tags.IndexModel
@using Humanizer
@if (Model.GeneralStats.Any())
{
    ViewBag.Title = "Tags";

    <h1>Tags</h1>
    <p>Stats collected since @Model.Earliest.Humanize()</p>
    <h3>Most popular tags</h3>
    <partial name="_TagStats" model="Model.GeneralStats" />
    <hr />
    <h3>Users' fetishes</h3>
    <div>
        @foreach (var usr in Model.UserStats)
        {
            <div>
                <b><a asp-page="User" asp-route-nick="@usr.UserId" class="text-success">@usr.UserId</a></b>
                <span>searched for</span>
                <b><a asp-page="Tag" asp-route-tagname="@usr.Tag" class="text-success">@usr.Tag.Replace("_", " ")</a></b>
                @usr.Total @(usr.Total == 1 ? "time" : "times").
            </div>
        }
    </div>
    <hr />
    <h3>Random tags</h3>
    <partial name="_TagStats" model="Model.RandomStats" />
}
else
{
    <h1>Tags</h1>
    <p>No stats for tags yet 😢</p>
}