@page
@model ChatBeet.Pages.FixedTimeRanges.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FixedTimeRange[0].Template)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedTimeRange[0].BeforeRangeMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedTimeRange[0].AfterRangeMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedTimeRange[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedTimeRange[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FixedTimeRange) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Template)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeforeRangeMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AfterRangeMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Key">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Key">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
