<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatBeet</title>
    <link rel="stylesheet" href="https://unpkg.com/@@forevolve/bootstrap-dark@1.0.0-alpha.1091/dist/css/toggle-bootstrap.min.css" async />
    <link rel="stylesheet" href="https://unpkg.com/@@forevolve/bootstrap-dark@1.0.0-alpha.1091/dist/css/toggle-bootstrap-dark.min.css" async />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" async>
    <link rel="stylesheet" href="~/css/site.css" async />
</head>
<body class="bootstrap-dark">
    <header>
        <nav class="navbar navbar-themed navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ChatBeet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="material-icons">
                        menu
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Defs">Definitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Tags">Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/HighGround">High Ground</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Settings">@User.Claims.FirstOrDefault(c => c.Type == "nick")?.Value</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Login">Log In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; @DateTime.Now.Year - ChatBeet
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://unpkg.com/gravy-bind/dist.browser/index.js"></script>

    <script type="text/javascript">
        var body = document.getElementsByTagName('body')[0];
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            body.classList = 'bootstrap-dark';
        } else {
            body.classList = 'bootstrap';
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
