@page
@inject ChatBeet.Queuing.IMessageQueueService queueService
@{
    ViewData["Title"] = "IncomingMessages";
    var items = queueService.GetHistory();
}

<h2>Message History</h2>

@foreach (var i in items.OrderByDescending(i => i.TimeGenerated).Take(50))
{
    <div class="my-3">
        <h3>@i.Title</h3>
        <div>
            <label>Source:</label>
            <span class="font-weight-bold">@i.Source</span>
        </div>
        <div>
            <label>Target:</label>
            <span class="font-weight-bold">@i.Target</span>
        </div>
        <div>
            <label>At:</label>
            <span>@i.TimeGenerated</span>
        </div>
        <div>
            @i.Body
        </div>
    </div>
}